{% extends 'web/basehome.html' %}

{% block search %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-log-in"></span>&nbsp;登录</h3>
                </div>
                <div class="panel-body">
                    {% for msg in get_flashed_messages(category_filter=["err"]) %}
                        <p style="color:red;">{{ msg }}</p>
                    {% endfor %}
                    {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                        <p style="color:green;">{{ msg }}</p>
                    {% endfor %}
                    <form role="form" method="post">

                        <div class="form-group">
                            <label for="input_contact"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                        {% for err in form.name.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_password"><span
                                    class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.pwd.label }}</label>
                            {{ form.pwd }}
                        </div>
                        {% for err in form.pwd.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                        {% endfor %}
                        <div class="container-fluid">
                            <div class="form-group col-md-6">
                                <label for="input_contact"><span
                                        class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.code.label }}</label>
                                {{ form.code }}
                            </div>
                            <div style="margin-top: 30px"><img src="/random_image/" alt="" id="img"></div>
                        </div>


                        {% for err in form.pwd.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                        {% endfor %}
                        {{ form.csrf_token }}
                        {{ form.submit | safe }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        $('#img').on('click', function () {
            $(this).attr('src', '/random_image/' + '?num=' + Math.random())
        })
    </script>
{% endblock %}